.title {
  width: 250px;
  height: 50px;
  padding: 0 10px;
  background-color: white;
  color: rgba(black, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}

.speak-title__body-icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;

  svg {
    font-size: 16px !important;
  }

  &:hover {
    transition: all 0.1s;
    background-color: rgba(grey, 0.06);
  }
}

.record-speaking {
  position: relative;
  left: 10px;
  top: 10px;
  width: 130px;
  height: 45px;
  background-color: white;
  color: #ee7100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 500;
  box-shadow: 0 1px 5px 1px #777;
  cursor: pointer;
  z-index: 10000;

  &:hover {
    transition: all 0.2s;
    font-size: 13.03px;
    font-weight: 600 !important;
    box-shadow: 0 2px 10px 1px #777;
  }
}

.disabled {
  display: none;
}

@media (max-width: 638px) {
  .title {
    width: 100%;
    padding-left: 20px;
  }
}

@media (min-width: 638px) and (max-width: 962px) {
  .title {
    width: 42%;
  }
}
