.pagination {
  display: flex;
  gap: 10px;
  position: fixed;
  right: 50px;
  bottom: 40px;

  li,
  input[type='text'] {
    list-style: none;
    width: 33px;
    height: 35px;
    background-color: #ee7100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #d35400;
      box-shadow: 2px 5px 1px rgba(black, 0.05);
    }
  }

  &-cont {
    background-color: white !important;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.05);
    border: 0.2px solid grey;
    svg {
      color: rgba(black, 0.5);
      font-weight: 700 !important;
    }

    &:hover {
      background-color: rgba(black, 0.2) !important;
      box-shadow: none;
      svg {
        color: white;
      }
    }
  }
}

.active-page {
  background-color: #d35400 !important;
  color: #ecf0f1 !important;
}

.pagination-cont-dis {
  pointer-events: none;
  background-color: rgba(black, 0.4) !important;

  svg {
    color: white !important;
  }
}

@media (max-width: 698px) {
  .pagination {
    bottom: 70px;
    
    li,
    input[type='text'] {
      width: 20px !important;
      height: 32px !important;
    }
  }
}
