.result-table__not {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  overflow-x: auto;

  h3 {
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: 500;
    color: rgba(black, 0.7);
  }
}

.result-table {
  width: 100%;
  padding-top: 20px;
  background-color: white;
  border-radius: 5px;
  display: block;
  overflow-x: auto;

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    width: 10px;
    border-radius: 999px;
  }

  &::-webkit-scrollbar {
    height: 9px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 999px;
  }
}

tbody,
thead {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
}

thead {
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-size: 14px;
  font-weight: 550;
  color: rgba(black, 0.7);
}

td {
  font-size: 13px;
  font-weight: 520;
  color: rgba(black, 0.7);
}
tr {
  td:first-child {
    padding-left: 20px;
  }
  th:first-child {
    padding-left: 20px;
  }

  td:last-child {
    width: 50px;
  }
}

.result-table__actions {
  width: 35px;
  height: 35px;
  background-color: #ee7100;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    color: white !important;
    font-size: 19px;
  }
}

@media (max-width: 698px) {
  table {
    min-width: 800px;
  }
}
